BOT_NAME=𝐁𝐀𝐑𝐁𝐈𝐄 𝐌𝐈𝐍𝐈 𝐁𝐎𝐓
OWNER_NAME=𓆩 𝛭𝑅 𝑅𝛯𝛨𝛥𝜜 𓆪
OWNER_NUMBER=923483763349
PREFIX=.
MODE=public
PORT=20048
MAX_SESSIONS_PER_SERVER=50
MONGODB_URI=
DB_NAME=barbie_mini_bot
BOT_IMAGE_URL=
WA_CHANNEL_LINKS=,,,,,
WA_CHANNEL_JIDS=,,,,,
